.o-container-nav {
    border-bottom: 1px solid black;
    height: 80px;
    align-items: center;
    align-content: center;
}

.o-container-welcome {
  margin: auto;
  width: 80%;
  height: 100%;
  background-color: #FFF0E8;
}

.o-container-comments {
  display: block;
}

.o-container-article {

}
