
<div class="o-container-welcome">
  <div class="c-welcome">
    <div class="c-welcome__image">
    </div>
    <div class="c-welcome__text">
      <div class="c-welcome__title">
        <h1><strong>Welcome to my Blog</Strong></h1>
        <div class="c-welcome__underline">
        </div>
      </div>
      <h2>This is my Work Development Blog. Click the "My Blog" link to see my posts.</h2>
    </div>
  </div>
</div>
