
<div class="o-welcome">
  <div class="c-welcome">
    <div class="c-welcome__text">
      <div class="c-welcome__text-title">
        <h1><strong>Welcome to my Blog</Strong></h1>
      </div>
      <p>This is my Work Development Blog. Click the "My Blog" link to see my posts.</p>
    </div>
  </div>
</div>
