
<div class="o-welcome-container">
  <div class="o-welcome-container-intro">
      <h2>Welcome to my Blog!</h2>
      <p>This is my Work Development Blog. Click the "Blog" link to see my posts.</p>
      <%= link_to 'My Blog', controller: 'articles' %>
  </div>
</div>
