.c-article {
}

.c-article_title {
  margin-bottom: 20px;
}

.c-article_content {
  background-color: #FFF0E8;
  width: 80%;
  margin: 20px auto;
  border: 1px solid;

  p, h1 {
    padding: 0 20px;
  }
}
