.c-articles {
  text-align: center;
  width: 80%;
  margin: auto;
}

.c-articles__list {


  table {
    border: 1px solid;
    padding-bottom: 20px;
    margin: auto;
    width: 100%;
    background-color: #FFF0E8;
  }

  tr, td {
    text-align: left;
    padding-top: 20px;
    padding-left: 20px;

    strong {
      font-size: 2em;
    }
  }

  th {
    text-align: center;
    padding-left: 20px;
  }
}

.c-articles__title {
  margin: auto;

  strong {
    // border-bottom: 10px solid #FFBA93;
  }
}

.c-articles__post {
  max-height: 100px;
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
}
