.c-navigation {
  height: 80px;

  &__logo {
    height: 80px;
  }

  &__title {
    float: left;
    padding-left: 20px;

    h1 {
      // border-bottom: 10px solid #FFBA93;
    }
  }

  &__links {
    float: right;
    padding: 30px;
  }
}
