.c-welcome {
  text-align: center;
  height: 600px;
  color: black;
  position: relative;
  max-width: 900px;
  margin: auto;

  @media (min-width: 768px) {

  }

  @media (min-width: 1024px) {
    text-align: left;
    height: 600px;
    color: black;
    position: relative;
    max-width: 900px;
    margin: auto;
  }


  h2 {
      margin: 0;

  }

  &__text {
    font-size: 12px;
    // position: absolute;
    padding-top: 50px;
    width: 300px;
    margin: auto;
    // max-width: 500px;
    // padding-left: 100px;
    // padding-top: 160px;
    // position: absolute;
    // z-index: 1;

    @media (min-width: 768px) {

    }

    @media (min-width: 1024px) {
      font-size: 16px;
      max-width: 500px;
      padding-left: 156px;
      padding-top: 144px;
      position: absolute;
      z-index: 1;
    }
  }

  // &__image {
  //   display: none;
  //
  //   @media (min-width: 768px) {
  //
  //   }
  //
  //   @media (min-width: 1024px) {
  //     display: block;
  //     background-image: url("background-image.svg");
  //     background-repeat: no-repeat;
  //     float: right;
  //     opacity: 0.8;
  //     margin-top: 40px;
  //     margin-right: 130px;
  //     width: 350px;
  //     height: 350px;
  //   }
  // }

  &__underline {
    @media (min-width: 1024px) {
      background-image: url("underline.svg");
      background-repeat:repeat-x;
      height: 10px;
      width: 295px;
      margin-top: -8px;
    }
  }

  &__title {
    padding-bottom: 10px;
    h1 {
      margin: 0;
      padding: 0;
    }
  }
}
